{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage"
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    // [
    //   "module-resolver",
    //   {
    //     "alias": {
    //       "components": "./web/components",
    //       "images": "./web/images",
    //       "styles": "./web/styles",
    //       "utils": "./utils"
    //     }
    //   }
    // ],
    "@babel/plugin-proposal-class-properties"
  ]
}
