@font-face {
  font-family: 'Muli';
  src: url('../fonts/Muli-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Muli Light';
  src: url('../fonts/Muli-Light.ttf') format('truetype');
}
