@font-face {
  font-family: 'Bevan';
  src: url('../fonts/Bevan-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Muli';
  src: url('../fonts/Muli-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Muli Light';
  src: url('../fonts/Muli-Light.ttf') format('truetype');
}
