@import '../../styles/variables.scss';

.header {
  z-index: 3;

  &__area {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $header-height;
    padding: 1em;
    background-color: $primary-color-blue;
    text-align: center;
    box-shadow: 0 3px 5px 0px dimgray;
  }

  &__content {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

    &-logo {
      width: 50px;
      height: 50px;
      animation: logo-spin infinite 60s linear;
    }

    &-text {
      font-size: 1.5em;
      color: white;
    }
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header__spacer {
  position: relative;
  width: 100%;
  height: $header-height;
  z-index: -1;
}
