@import 'styles/variables.scss';

.header {
  &__visible {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $header-height;
    padding: 1em;
    font-size: 0.8rem;
    background-color: $color-blue;
    text-align: center;
    box-shadow: 0 3px 5px 0px dimgray;
  }

  &__content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

    &-logo {
      width: 50px;
      height: 50px;
      animation: logo-spin infinite 60s linear;
    }

    &-text {
      font-size: 1.5em;
      color: white;
    }
  }

  &__menu-btn {
    color: $color-white;
    font-size: 1.25em;
    cursor: pointer;
    background-color: inherit;
  }

  &__inline-nav {
    display: none;
  }

  &__mobile-nav {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    max-height: $header-height;
    width: 100%;
    overflow: hidden;
    transition: transform 0.5s ease, max-height 0.25s ease;
    background-color: #76a0ef;

    &.open {
      transform: translateY(#{$header-height});
      max-height: 500px;
    }
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header__spacer {
  position: relative;
  width: 100%;
  height: $header-height;
  z-index: -1;
}

@media (min-width: 576px) {
  .header {
    &__visible {
      font-size: 1rem;
    }

    &__menu-btn {
      display: none;
    }

    &__mobile-nav {
      display: none;
    }

    &__inline-nav {
      display: inherit;
    }
  }
}
