@import '../../styles/variables.scss';

.landing {
  &__hero {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../../images/landing-0.jpg');
    background-size: cover;
    background-blend-mode: lighten;
    background-position: center;

    &-title {
      font-family: $font-stack-display;
      font-size: 5em;
      color: white;
      z-index: 2;
      text-shadow: 0 0 15px #404040;
      margin-bottom: 10px;
      letter-spacing: 15px;
    }
  }
}
