@import 'styles/variables.scss';

.login {
  position: relative;
  height: 300px;
  width: 300px;
  padding: 2em;
  border-radius: 50%;
  background-color: $color-white;

  &__fields {
    width: 100%;
    margin-top: 3.5em;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  &__link {
    font-size: 0.8em;
    color: $color-blue;
  }

  &__cta-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1.5em;

    & .login__link {
      margin-top: 0.25em;
    }
  }
}
