.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 75px;
  // margin-bottom: 20px;
  padding: 1em;
  background-color: cornflowerblue;
  text-align: center;
  box-shadow: 0 3px 5px 0px dimgray;
  display: flex;
  flex-direction: row;
  z-index: 3;

  &__title {
    display: flex;
    flex-direction: row;
    align-items: center;

    &-logo {
      width: 50px;
      height: 50px;
      animation: logo-spin infinite 60s linear;
    }

    &-text {
      font-size: 1.5em;
      color: white;
    }
  }

  &__nav {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    &-link {
      padding: 0 1em 0 1em;
      color: white;
    }
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header__spacer {
  position: relative;
  width: 100%;
  height: 75px;
  z-index: -1;
}
