.page-content {
  width: 100%;
  height: 100%;
}

.home-masthead {
  height: 200px;
  background-color: cornflowerblue;
  padding: 10px;
  text-align: center;

  &-logo {
    height: 100px;
    animation: logo-spin infinite 20s linear;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home-title {
  color: white;
}

.home-main {
  margin-top: 20px;
  text-align: center;
  font-size: 1em;
}
